In [38]:
# Import Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import requests
import datetime 
import pymongo
from pprint import pprint

In [39]:
# Splinter access browser and Chrome opens web site
executable_path = {"executable_path": "/Users/Areli/Desktop/web-scraping-challenge/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

<h1> NASA Mars News <h1>

In [40]:
#Visiting NASA url
url='https://mars.nasa.gov/news/'
browser.visit(url)

In [41]:
html=browser.html
soup=bs(html,'html.parser')

In [42]:
#Scraping the latest news title and news paragraph
news_title = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"news_title: {news_title}")
print(f"news_p: {news_p}")

news_title: Mars Now
news_p: NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

<h1> JPL Mars Space Images <h1>

In [44]:
#Scraping images
image_url_featured ='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url_featured)

In [45]:
#HTML Object
img_html=browser.html

#Parse HTML with BS
soup=bs(img_html, 'html.parser')

# Retrieve background-image url from style tag 
featured_image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

# Website Url 
main_url = 'https://www.jpl.nasa.gov'

# Concatenate website url with scrapped route
featured_image_url = main_url + featured_image_url

# Display full link to featured image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17449-1920x1200.jpg'

<h1>Mars Weather<h1>

In [108]:
#Using Mongodb to obtain twitter facts
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.nasa_db

# Declare the collection
collection = db.nasa_db

# Declare the database for weather reports
db = client.twitter_db

# Declare the collection
collection = db.twitter_db

In [109]:
#get mars weather's latest tweet from the website
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [110]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")

In [105]:
latest_tweets = soup.find_all('p', class_='TweetTextSize')

In [107]:
# Loop through returned results
for latest_tweet in latest_tweets:
    # Error handling
    try:
        # Identify and return title of listing
        report = result.text.strip()
        print('mars_weather: ', report)
        print('---------------')

    except Exception as e:
        print(e)

<h1> Mars Facts <h1>

In [57]:
mars_facts_url = 'https://space-facts.com/mars/'

In [29]:
# Used class example 09-panda scraping
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [30]:
# table first element
df = tables[0]
df.columns = ['Comparision', 'Mars', 'Earth']
df

          Comparision             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:    -153 to 20 °C      -88 to 58°C

In [31]:
# table second element
df = tables[1]
df.columns = ['Fun Facts', 'Earth']
df

              Fun Facts                          Earth
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

<h1> Mars Hemispheres <h1>

In [33]:
url_hemispheres = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemispheres)

In [35]:
# Scrap 4 images
urls = [
    'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
    'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
    'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
    'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
]

# create empty dictionary to collect images
image_data = []

In [36]:
# for loop through m_urls list and perform some web scraping logic for each link
for url in urls:
    print(url)

    # create empty dictionary
    album = {}
    
    # click link
    browser.visit(url)
    
    # Scrape the image from the img element
    m_html = browser.html
    m_scraper = bs(m_html, 'html.parser')
    
    # scrape the title and image url
    m_title = m_scraper.find('h2', {'class': 'title'}).get_text()
    
    # add title to album
    album['title'] = m_title
  
    # add image to album
    image_data.append(album)
    
    # go back a page in the browser
    browser.back()

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced

In [37]:
image_data

[{'title': 'Cerberus Hemisphere Enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced'}]